.App {
  text-align: center;
  background-color: aqua;
  margin: auto;
}





.image{
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: coral;
  background-size: cover;
    
    border-radius: 50%;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.image:hover{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg)
}